<header>
  <nav class="navbar navbar-light bg-light fixed-top">
    <a href="/" class="navbar-brand">Aaron Zomback, Software Engineering & development //</a>
    <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>  -->
    <div class="class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav justify-content-end">
      <li class="navbar-item">
        <a href="/projects/" class="nav-link">Projects</a>
      </li>
      <li class="navbar-item">
        <a href="/articles/" class="nav-link">Articles</a>
      </li>
      <li class="navbar-item">
        <a href="/info/" class="nav-link">Info</a>
      </li>
      <!-- <li class="navbar-item">
        <a href="/info/" class="nav-link">Github</a>
      </li> -->
    </ul>
  </div>
  </nav>
</header>
