section.articles-index {
  display: flex;
  justify-content: center;
  height: 600px;
  margin-top: 2rem;


  a {
    text-align: center;
    text-decoration: none;
    color: black;
  }

  h6 {
    border-bottom: 1px solid black;
    display: inline-block;
    margin-bottom: 16px;
  }
}

section.article {
height: 5000px;
  img {
    display: block;
    max-width: 22em;
    margin-top: 2em;
    margin-bottom: 3.2em;
  }
  margin-bottom: 80px;

  h2 {
    font-size: 40px;
    font-weight: 600;
  }
}

