

section.submissions {
  h1 {
    font-family: $front-font
  }

  ul {
    font-size: 27px;
  }
}

div.background-quote1 {
  background-image: url('/assets/img/Frame97.svg');
  height: 400px;
  width:100%;
  background-position: center;
  background-size: cover;

  margin-bottom: 80px;
  margin-top: 80px;
}

div.background-quote2 {
  background-image: url('/assets/img/Frame98.svg');
  height: 400px;
  background-position: center;
  background-size: cover;
  width: 100%;
    margin-bottom: 80px;
}

div.background-quote3 {
  background-image: url('/assets/img/Frame99.svg');
  height: 400px;
  background-position: center;
  background-size: cover;
  width: 100%;
    margin-bottom: 80px;
}

div.background-quote4 {
  background-image: url('/assets/img/Frame100.svg');
  height: 400px;
  background-position: center;
  background-size: cover;
  width: 100%;

}

div.youtube {
  p.source {
    margin-top: 0;
    font-size: 8px;
  }
  p.caption {
    font-size: 20px;
    margin-top: 0;
  }
}

.conclusion {
  margin-top: 120px;
  margin-bottom: 120px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
    h3 {
      font-family: $front-font
  }
}

.arthouse {
  h2 {
    font-family: $front-font
  }
}


div.eraserhead img {
  width: 75%;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
  display: block;
}

section.conversations {

  margin-top: 180px;

  h2 {
    font-family: $front-font;
    width: 800px;
  }

  div.quote1 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

  }

div.grid {
  display: grid;
  grid-template-columns: 1fr 1fr
}

  div.quote4 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
  }
}

div.competition {
  p.caption {
    font-size: 20px;
  }

  img {
    display: block;
    width: 85%;
  }
}

div.eraserhead {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
// background: radial-gradient(161.79% 280.7% at 51.25% 85.53%, #4A7CE3 10.58%, #375492 33.92%, #222222 55.65%);
  color: black;
  // padding: 120px 120px;
  // overflow: hidden;

  p {
    font-size: 21px;
  }

  .lynch {
    font-size: 32px;
  }
}

div.anthology {
h2 {
  font-family: $front-font;
}
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  p {
    font-size: 27px;
    width: 800px;
    line-height: 1.67;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
p.caption {
  margin-top: 4px;
  font-size: 20px;
}
}


.streaming img {
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h2.filmmaker-conversations {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  font-family: $front-font;
  margin-bottom: 32px;
}

section.research {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  ul {
    width: 500px;
    line-height: 1.4;
  }
}

div.researching-conversations {
    margin-bottom: 0px;
  h1 {
    width: 800px;
    margin-top: 180px;
    margin-bottom: 32px;
    font-family: $front-font;
  }
    p {
      font-size: 24px;
      width: 600px;
    }

    img {
      display: block;
      margin-top: 80px;
    }

}






.timesink_cover {
  width: 100%;
  margin-right: 80px;
  margin-top: 0px;
  margin-bottom: 8px;
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 1;
  background: linear-gradient(351deg, rgba(74,124,227,1) 0%, rgba(34,34,34,1) 100%);
  color: white;



  div.timesink_cover_description {
    margin-left: 180px;
    float: left;
  }

  h1 {
    margin-top: 120px;
    font-size: 64px;
    margin-bottom: 8px;
    font-family: $front-font;
  }

  p {
    width: 400px;
    font-size: 20px;
  }
}

div.timesink_cover_mockup img {
  width: 75%;
}





.timesink_cover_border {
  border-bottom: 1px solid black;
  padding: 8px 0;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

  h6 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 32px;
  }

  .row {
    display: flex;
  }

  .column {
    flex: 20%;
    margin-right: 32px;
  }

  p {
    font-family: $body-font;
    font-size: 20px;
  }

  div.platform p {
    line-height: 0.5;
  }

  div.roles {
    line-height: 0.5;
  }

  div.tools {
    line-height: 0.5;
  }
}









section.before-we-begin {

    margin-top: 24px;
    margin-bottom: 64px;

    width: 100%;
    float: left;

    h5 {
      margin-bottom: 16px;
    }


  p {
    font-size: 21px;
    width: 600px;
  }

  div.before-we-begin-text {
    width: 800px;
    margin-bottom: 0px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;


    p {
      line-height: 1.5;
    }
  }

}

div.West {
  margin-top: 120px;
  margin-left: 40px;
  h1 {
    font-family: $front-font;
  }
}

section.prologue {

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
  width: 100%;
  margin-left: 40px;
  margin-right: 160px;
  vertical-align: top;

  .prologue-image {
    margin-right: 16px;

    img {
      margin-top: 0;
      display: block;
      width: 85%;
      margin-right: 64px;
    }


    p {
      margin-top: 8px;
      width: 22em;
      font-size: 16px;
    }
  }

    .prologue-paragraph {
      line-height: 1.67;
      font-size: 27px;
      margin-right: 56px;
      width: 700px;


      p {
          margin-top: 0;
          margin-bottom: 0;
      }

    }
  }

  section.old-cinemas {
    width: 900px;
    margin: 0 auto;

    div.loews {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
          img {
            width: 50%
          }

    }


  }

section.research {

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 27px;

  h3 {
    margin-bottom: 24px;
    margin-top: 0;
    margin-right: 64;
  }

  div.research-text{
    width: 600px;
    margin-right: 200px;
    margin-bottom: 48px;
    margin-top: 0;
    font-size: 27px;
    line-height: 1.67;
    margin-right: 0;



    p {
      line-height: 1.67;
      font-size: 24px;
      margin-top: 0;
    }

  }

  div.research-photo {
    margin-right: 80px;

    p {
      margin-top: 16px;
      font-size: 20px;
      line-height: 1.4;

    }
    img {
      display: block;
      width: 120%;
      margin-bottom:0;
    }
  }

  div.process-research {
    margin-top: 48px;
    width: 400px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.quote1 {
  font-size: 24px;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: left;
}

.research-caption {
  margin-top: 2px;
  font-size: 12px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: left;
}


.research-img h5 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.conversation-quote {
  width: 800px;
  margin-top: 80px;
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.research-img img {

    display: block;
    margin-bottom: 0px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    margin-bottom: 0px;
    filter: drop-shadow(0px 4px 26px rgba(0, 0, 0, 0.19));
}



div.problem-quote {

  margin-top: 64px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;

}

section.problem {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  align-items: center;

  div.problem-text{
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    h6 {
      margin-top: 8px;
    }

    h1 {
      margin-bottom: 24px;
      font-family: $front-font;
      width: 800px;
    }

    p {
      line-height: 1.67;
      font-size: 27px;
    }

    p .consensus-emerge {
      font-size: 20px;
    }
  }

  div.process-problem {
    margin-top: 48px;
    width: 410px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

section.vision {


  margin-top: 120px;

  img {
    display: block;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  div.vision-text{
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    h5 {
      margin-bottom: 24px;
    }

    p {
      line-height: 1.67;
      font-size: 20px;
    }
  }

  div.process-vision {
    margin-top: 48px;
    width: 400px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}

section.design-for {

  div.design-for-text {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

    h6 {
      margin-top: 24px;
      margin-bottom: 24px;
    }


h5 {
  line-height: 1;
  margin-bottom: 24px;
}

    p {
      line-height: 1.67;
      margin-bottom: 1em;
      font-size: 20px;
    }
  }

}

section.design-for-img {

  width: 100%;

  img {
    margin-top: 64px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  p.design-for-caption {
    margin-top: 0px;
    font-size: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-left: 133px;
  }
}

section.mobile-app {
  margin-top: 120px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;


  h5 {
    margin-bottom: 24px;
  }

  p {
    line-height: 1.67;
    font-size: 20px;
  }

  .model-list {
    li {
      line-height: 1.5;
    }
  }
}

.site-map img {
  width: 140%;
  display: block;
  margin-top: 40px;
}

section.features {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  div.features-text {
    margin-right: 8px;
  }
}

div.features-image {
  width: 1000px;
  margin-left:auto;
  margin-right: auto;

  p.caption {
    font-size: 27px;
    margin-top: 16px;
  }
}

div.scorsese-quote {
  width: 600px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

    p{
      font-size: 56px;
    }
}

div.wireframes {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  p {
    font-size: 27px;
    width: 360px;
  }

  img {
    width: 100%;
  }
}

div.final-status {
  width: 800px;
  h2 {
    font-family: $front-font;
  }
  p {
    font-size: 24px;
  }

  ol {
    font-size: 21px;
  }
}

div.final-history {
  margin-top: 80px;
  h2 {
    font-family: $front-font;
  }
  p {
    font-size: 24px;
  }
  ul {
    font-size: 21px;
  }
}

div.final-submissionform {
  margin-top: 80px;
  h2 {
    font-family: $front-font;
  }

  p{
    font-size: 24px;
    width: 800px;
    line-height: 1.67;
  }
}


h1.scaling {
    font-family: $front-font;
    margin-bottom: 24px;
    margin-top: 80px;
}
div.scaling-up {

margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  align-items: center;

  img {
    width: 65%;
    display: block;
    margin-top: 0;
  }

  p {
    width: 660px;
    font-size: 27px;
    line-height: 1.67;
  }
}

div.forward {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  h1 {
    font-family: $front-font;
    text-align: center;
    margin-bottom: 24px;
  }
  p {
    margin-top: 0;
    font-size: 27px;
    line-height: 1.67;
    width: 800px;
  }
}



@media (max-width: 844px) {
  div.timesink_cover_mockup img {
    width: 40%;
  }
}
