---
---

@font-face {
  font-family: "Moderat-Extended";
  font-weight: 400;
  src: url(/assets/fonts/Moderat-Extended-Regular.woff2);
}

@font-face {
  font-family: "Moderat-Extended-Medium";
  src: url(/assets/fonts/Moderat-Extended-Medium.woff2);
}

@font-face {
  font-family: "Moderat-Extended-Light";
  src: url(/assets/fonts/Moderat-Extended-Light.woff);
}

@font-face {
  font-family: "Condensed";
  src: url(/assets/fonts/Moderat-Condensed-Light.woff2);
}

@font-face {
  font-family: "Mono";
  src: url(/assets/fonts/Moderat-Mono-Regular.ttf);
}

@font-face {
  font-family: "Coriolis";
  font-weight: 400;
  src: url(/assets/fonts/Coriolis_trial-Regular.otf);
}

@font-face {
  font-family: "Nanum";
  src: url(/assets/fonts/NanumMyeongjo-Regular.ttf);
}

@font-face {
  font-family: "Bellefair";
  font-weight: 400;
  src: url(/assets/fonts/Bellefair-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(/assets/fonts/Inter-Regular-sInt=0.ttf);
}

@font-face {
  font-family: "IBMPLexSans-Regular";
  font-weight: 400;
  src: url(/assets/fonts/IBMPLexSans-Regular.ttf);
}

@font-face {
  font-family: "Quattrocento-Sans";
  font-weight: 400;
  src: url(/assets/fonts/QuattrocentoSans-Regular.ttf);
}

@font-face {
  font-family: "Rubik-Body";
  font-weight: 300;
  src: url(/assets/fonts/Rubik-Light.ttf)
}

@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');



$body-font: "Cardo";
$front-font: "Moderat-Extended";
$title-font: "Moderat-Extended-Medium";
$body-font-light: "Moderat-Extended-Light";
$condensed: "Condensed";
$mono: "Mono";
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


@import "header";
@import "index";
@import "projects";
@import "articles";
@import "info";
@import "footer";


h1 {
  font-size: 64px;
  font-weight: 400;
}

h2 {
  font-size: 56px;
    font-weight: 400;
}

h3 {
  font-size: 48px;
    font-weight: 400;
}

h4 {
  font-size: 40px;
    font-weight: 400;
}

h5 {
  font-size: 32px;
  font-weight: 400;
}

h6 {
  font-size: 24px;
    font-weight: 400;
}


body {
  font-family: $body-font;
  background-color: white;
  // margin-right: 80px;
  // margin-left: 80px;
  position: relative;
}

body > .container {
  padding: 60px 15px 0;
}

