---
---

@font-face {
  font-family: "Moderat-Extended";
  font-weight: 400;
  src: url(/assets/fonts/Moderat-Extended-Regular.woff2);
}

@font-face {
  font-family: "Moderat-Extended-Medium";
  src: url(/assets/fonts/Moderat-Extended-Medium.woff2);
}

@font-face {
  font-family: "Moderat-Extended-Light";
  src: url(/assets/fonts/Moderat-Extended-Light.woff);
}

@font-face {
  font-family: "Condensed";
  src: url(/assets/fonts/Moderat-Condensed-Light.woff2);
}

@font-face {
  font-family: "Mono";
  src: url(/assets/fonts/Moderat-Mono-Regular.ttf);
}

@font-face {
  font-family: "Coriolis";
  font-weight: 400;
  src: url(/assets/fonts/Coriolis_trial-Regular.otf);
}

@font-face {
  font-family: "Nanum";
  src: url(/assets/fonts/NanumMyeongjo-Regular.ttf);
}

@font-face {
  font-family: "Bellefair";
  font-weight: 400;
  src: url(/assets/fonts/Bellefair-Regular.ttf);
}




$body-font: "Bellefair";
$front-font: "Moderat-Extended";
$title-font: "Moderat-Extended-Medium";
$body-font-light: "Moderat-Extended-Light";
$condensed: "Condensed";
$mono: "Mono";
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


@import "timesink";
@import "info";
@import "blog";
@import "work";



h1 {
  font-size: 64px;
  font-weight: 400;
}

h2 {
  font-size: 56px;
    font-weight: 400;
}

h3 {
  font-size: 48px;
    font-weight: 400;
}

h4 {
  font-size: 40px;
    font-weight: 400;
}

h5 {
  font-size: 32px;
  font-weight: 400;
}

h6 {
  font-size: 24px;
    font-weight: 400;
}

.ethical img {
  width: 40%;
  margin-left: 48px;
}

header {
  display: flex;
  justify-content: flex-end;
  margin-top: 88px;
  height: 100px;
  vertical-align: center;

  img {
    margin-right: 600px;
    width: auto;
  }

}




header nav a {
  margin-right: 32px;
  text-decoration: none;
  color: black;
  position: relative;
  padding-bottom: 8px;
  font-family: $front-font;


   &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0; right: 0;
        height: 0.8px;
        background-color: black;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
            transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
    }
}



body {
  font-family: $body-font;
  background-color: white;
  margin-right: 80px;
  margin-left: 80px;
  position: relative;
}

.process-research {
  font-family: $body-font-light
}

.process-vision {
  font-family: $body-font-light;
}

.process-problem {
    font-family: $body-font-light;
}

.front {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
    font-family: $front-font;
}

.intro p {
margin-top: 80px;
margin-left: 80px;
margin-bottom: 64px;
font-size: 48px;
width: 700px;
line-height: 0.95;
font-family:$front-font;
}


.is {
  font-size: 37px;
}

.coriolis {
  font-family: "Coriolis";
  font-size: 32px;
}


.arrow img {
  display: block;
  margin-left: 704px;
  margin-top: 24px;
  height: 2.5%;
  width: 2.5%;
}

section.study1 {

  margin-top: 240px;
  width: 100%;
  height: 720px;
  background: linear-gradient(351deg, rgba(74,124,227,1) 0%, rgba(34,34,34,1) 100%);
  color: white;
  margin-bottom: 0px;
}

.study1-container {


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  margin-bottom: 0;


}

.study1-item-image {
  margin-top: 80px;
  width: 800px;

  .timesink-study1-image {
    display: block;
    width: 100%;
  }
}


  .study1-item {
    margin-top: 140px;
    margin-left: 120px;
    width: 300px;



    button.timesink-link {
      margin-top: 8px;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 50px;
      width: 180px;
      display: inline-block;
      text-align: center;
      align-items: center;
      cursor: pointer;
      padding: 16px 8px;
      vertical-align: middle;

      div.button-group-timesink {


        span.read {
          position: relative;
          align-items: center;
          font-family: $front-font;
          font-size: 16px;
          color: white;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }


  h1 {
    font-family: $front-font;
    font-size: 64px;
    margin-bottom: 4px;
    text-decoration: none;
  }

  p {
    width: 360px;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.5;
  }
}

.arrow2 {
  float: right;
}




section.study2 {
  height: 720px;
  width: 100%;
  margin-top: 88px;
background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
 background-blend-mode: normal,color-burn;

 div.study2-container {

   width: 800px;
   margin-top: 0px;

   button.oku-link {
     border: 1px solid #6685FF;
     margin-top: 16px;
     background-color: #6685FF;
     border-radius: 50px;
     padding: 16px 8px;
     width: 180px;
     cursor: pointer;
     transition: ease-in 0.2s;

     &:hover {
       background-color: rgba(#0033ff, 0.85);
     }
     span.read {
       color: white;
       font-family: $front-font;
       font-size: 16px;
     }
   }

   div.study2-item {

     padding-top: 200px;
     margin-left: 120px;

     h1 {
       font-family: $front-font;
       color: #4EB3D6;
       margin-top: 0;
     }

     p {
       font-size: 24px;
       color: #4EB3D6;
       width: 400px;
     }


     }


 }

}


footer {
display: flex;
bottom: 24px;
width: 100%;
height: 50px;
margin-top: 40px;
justify-content: space-between;
font-family: $front-font;

  .achieve {
    margin-bottom: 4px;
  }


  nav a {
    display: block;
    text-decoration: none;
    color: black;
  }
}
