<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, product designer & developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="product design, UX, UI, user experience, coder, web developer">
    <meta name="description" content="Aaron Zomback's design & code portfolio">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" href="/assets/img/Fav4.png" type="image/png">
  </head>

  <body>

 {% include header.html %}

<div class="front">
  <section class="intro">
    <p>Aaron Zomback <br> <span class="is">is a product designer &<br> developer </span> <span class="coriolis">based in Lyon, FR</span></p>
  </section>


</div>

<section class="arrow">
  <a href="#timesink">
  <img src="/assets/img/Arrow8.svg" alt="down">
  </a>
</section>


  <section id="timesink" class="study1">
    <div class="study1-container">
      <div class="study1-item">
        <a href="/timesink/">
        <img src="/assets/img/mockup1st.png" alt="study1" style="width:600px;">
        </a>
      </div>
      <div class="study1-item">
        <a href="/timesink/">
          <h1>TimeSink</h1>
              </a>
              <a href="/timesink/">
          <p class="top">A cinema platform dedicated to growing an active community of cinephiles, creators, and investors.</p>
          <p class="read">Read case study <img class="arrow1" src="/assets/img/Arrow1.svg" alt="here"></p>
          </a>
      </div>
    </div>
  </section>


{% include footer.html %}

  </body>
</html>
