
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, product designer & developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" href="fav.png" type="image/png">
  </head>
  <body>
    <header>
      <nav>
        <a href="/work">WORK</a>
        <a href="/blog">BLOG</a>
        <a href="/info">INFO</a>
      </nav>
    </header>

    <section class="intro">
      <p>Aaron Zomback <br> <span class="is">is a product designer and <br> developer</span> <span class="coriolis">based in Lyon, FR</span></p>
    </section>


  <div class="arrow">
    <object data="/assets/img/arrow8.svg" type="image/svg+xml"></object>
  </div>





    <footer>


    <p class="collab"> <span class="achieve">I'm ready to help you achieve your goals</span> <br> HELLO@ZOMBACK.DESIGN</p>


    <nav>
    <a href="https://github.com/aaronzomback">GITHUB</a>
    <a href="#">INSTAGRAM</a>
    <a href="#">TWITTER</a>
    <a href="#">LINKEDIN</a>
    </nav>


</footer>


  </body>
</html>
