<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, product designer & developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="product design, UX, UI, user experience, coder, web developer">
    <meta name="description" content="Aaron Zomback's design & code portfolio">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" href="/assets/img/Fav4.png" type="image/png">
  </head>

  <body>

 {% include header.html %}

<div class="front">
  <section class="intro">
    <p>Aaron Zomback <br> <span class="is">is a product designer &<br> developer </span> <span class="coriolis">based in Lyon, FR</span></p>
  </section>


</div>

<section class="arrow">
  <a href="#timesink">
  <img src="/assets/img/Arrow8.svg" alt="down">
  </a>
</section>


  <section id="timesink" class="study1">
    <div class="study1-container">
      <div class="study1-item">

          <h1>TimeSink</h1>


          <p class="top">Follow my journey towards designing a more valuable platform for filmmakers and audiences.</p>
            <a href="/timesink/">
          <button type="timesink" name="timesink-link" class="timesink-link">
            <div class="button-group-timesink">
            <span class="read">Take a look <img class="arrow7" src="/assets/img/Arrow7.svg" alt="here"></span>
            </div>
          </button>
            </a>
      </div>
      <div class="study1-item-image">
          <img src="/assets/img/Group1145.svg" alt="timesink-cover-profile" class="timesink-study1-image">
      </div>
    </div>
  </section>


  <section id="oku" class="study2">
    <div class="study2-container">
      <div class="study2-item">
        <h1>Oku</h1>
        <p>Minimizing clutter and improving mental health through Haiku-type poetry.</p>

      <button type="oku" name="oku-link" class="oku-link">
      <span class="read">Check it out <img class="arrow7" src="/assets/img/Arrow7.svg" alt="here"></span>
      </button>
      </div>
    </div>
  </section>


{% include footer.html %}

  </body>
</html>
