<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, product designer & developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" href="/assets/img/Fav4.png" type="image/png">
  </head>

  <body>

  <header>
      <nav>
        <a href="/work">WORK</a>
        <a href="/blog">BLOG</a>
        <a href="/info">INFO</a>
      </nav>
    </header>

    <section>
      {{content}}
    </section>








    <footer>
    <p class="collab"> <span class="achieve">Let's innovate together</span> <br> HELLO@ZOMBACK.DESIGN</p>


    <nav>
    <a href="https://github.com/aaronzomback">GITHUB</a>
    <a href="https://www.instagram.com/zomback.design/?hl=en">INSTAGRAM</a>
    <a href="https://twitter.com/zomback_design">TWITTER</a>
    <a href="https://www.linkedin.com/in/aaron-zomback/">LINKEDIN</a>
    </nav>


</footer>


  </body>
</html>
