
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, product designer & developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="icon" href="assets/img/Fav4.png" type="image/png">
  </head>
  <body>

    <div class>
          <a href="/"><h3>Aaron Zomback</h3></a>
    </div>

    <header>
      <nav>
        <a href="/work">WORK</a>
        <a href="/blog">BLOG</a>
        <a href="/info">INFO</a>
      </nav>
    </header>



    <footer>


    <p class="collab"> <span class="achieve">Let's innovate together</span> <br> HELLO@ZOMBACK.DESIGN</p>


    <nav>
    <a href="https://github.com/aaronzomback">GITHUB</a>
    <a href="#">INSTAGRAM</a>
    <a href="#">TWITTER</a>
    <a href="#">LINKEDIN</a>
    </nav>


</footer>


  </body>
</html>
