<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>My software engineering/computer-science work</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="software engineering, web development, software architecure, storytelling, networks, distributed, UX, UI, user experience, computer science, coder, web developer">
  <meta name="description" content="Aaron Zomback's design & code portfolio">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="icon" href="/assets/img/mind2.png" type="image/png">
</head>
  <body>
    <div id="page-container">
      <div id="content-wrap">


{% include nav_header.html %}


    <section>
      {{content}}
    </section>




{% include footer.html %}


    </div>

    </div>

  </body>
</html>
